fastapi==0.115.6
python-multipart==0.0.20
mangum==0.17.0
numpy==1.26.4
Pillow==11.1.0
scikit-learn==1.6.1
h5py==3.12.1
aiosqlite==0.20.0
sqlalchemy[asyncio]==2.0.36
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.1
httpx==0.28.1
